# Stripe
STRIPE_SECRET_KEY=sk_live_...
STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_PRICE_ID=price_...
STRIPE_AMOUNT_CENTS=900
STRIPE_BUMP_AMOUNT_CENTS=500
STRIPE_PAYMENT_METHOD_CONFIGURATION=pmc_1OuDi3AAQoQG6nciqBp2JYfG
STRIPE_WEBHOOK_SECRET=whsec_...

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=GTM-KMMX6RRB
GTM_SERVER_CONTAINER=GTM-PHNC98MZ

# Google Analytics 4
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-C420E7EPKL
GA4_API_SECRET=

# Meta
META_PIXEL_ID=1746006836851202
META_DATASET_ID=1746006836851202
META_ACCESS_TOKEN=

# Stape / GTM Server
SERVER_CONTAINER_URL=https://zswotzns.eu.stape.io
